<!DOCTYPE html>
<html>
<head>
  <title>MyJam</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:new_user] %>
  <div>Welcome <%= flash[:new_user] %></div>
<% end %>

<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% elsif flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Newest song:</strong> <%= session[:most_recent_song_title] %>
</p>

<%= yield %>

</body>
</html>
